.text {
  margin: 0;
}

.default {
  font-family: inherit;
}

.betania {
  font-family: $font-betania;
}

.japanese {
  font-family: $font-japanese;
}

.primary {
  color: $color-text-primary;
}

.accent {
  color: $color-accent;
}

.small {
  font-size: $font-size-small;
}

.medium {
  font-size: $font-size-medium;
}

.large {
  font-size: $font-size-large;
}

.headingExtraSmall {
  font-size: $font-size-heading-extra-small;
  font-weight: bold;
}

.headingSmall {
  font-size: $font-size-heading-small;
  font-weight: bold;
}

.headingMedium {
  font-size: $font-size-heading-medium;
  font-weight: bold;
}

.headingLarge {
  font-size: $font-size-heading-large;
  font-weight: bold;
}

.headingExtraLarge {
  font-size: $font-size-heading-extra-large;
  font-weight: bold;
}

.alignCenter {
  text-align: center;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}