.text {
  margin: 0;
}

/* Font Families */
.default {
  font-family: inherit;
}

.betania {
  font-family: $font-betania;
}

.japanese {
  font-family: $font-japanese;
}

/* Colors */
.primary {
  color: $color-text-primary;
}

.accent {
  color: $color-accent;
}

/* Text Alignment */
.alignCenter {
  text-align: center;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

/* Font Sizes */
.small {
  font-size: $font-size-small;
}

.medium {
  font-size: $font-size-medium;
}

.large {
  font-size: $font-size-large;
}

.headingExtraSmall {
  font-size: $font-size-heading-extra-small;
  font-weight: bold;
}

.headingSmall {
  font-size: $font-size-heading-small;
  font-weight: bold;
}

.headingMedium {
  font-size: $font-size-heading-medium;
  font-weight: bold;
}

.headingLarge {
  font-size: $font-size-heading-large;
  font-weight: bold;
}

.headingExtraLarge {
  font-size: $font-size-heading-extra-large;
  font-weight: bold;
}

@media (max-width: 980px) {
  .small {
    font-size: $mobile-font-size-small;
  }

  .medium {
    font-size: $mobile-font-size-medium;
  }

  .large {
    font-size: $mobile-font-size-large;
  }

  .headingExtraSmall {
    font-size: $mobile-font-size-heading-extra-small;
  }

  .headingSmall {
    font-size: $mobile-font-size-heading-small;
  }

  .headingMedium {
    font-size: $mobile-font-size-heading-medium;
  }

  .headingLarge {
    font-size: $mobile-font-size-heading-large;
  }

  .headingExtraLarge {
    font-size: $mobile-font-size-heading-extra-large;
  }
}