.wrapper {
  width: 100%;
  margin-inline: auto;
  margin-top:auto;
  overflow: hidden;
  position: relative;
  background-color: $color-accent;

  mask-image: linear-gradient(
    to right,
    transparent,
    $color-black 10%,
    $color-black 90%,
    transparent
  );
}

.track {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.item {
  flex: 0 0 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.image {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}